body {
	font: {
		size: 14px;
		weight: 400;
	}

	color: var(--color-white);
}

button {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1.25px;
}

input {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-white);
}

h2 {
	font-size: 44px;
	font-weight: 700;
	letter-spacing: 0.25px;
	line-height: 48px;

	@include tablet {
		font-size: clamp(36px, #{calc(44 * 100 / 768)}vw, 44px);
	}

	@include mobile {
		font-size: 36px;
	}
}

h3 {
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 0.25px;
	line-height: 48.4px;

	@include tablet {
		font-size: clamp(32px, #{calc(40 * 100 / 768)}vw, 40px);
		line-height: clamp(32px, #{calc(48.4 * 100 / 768)}vw, 48.4px);
	}

	@include mobile {
		font-size: 32px;
		line-height: 32px;
	}
}

h4 {
	font-size: 22px;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 22px;
}

h5 {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.25px;
}

h6 {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 18px;
}

p {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.5px;
	line-height: 19.2px;
	color: var(--color-alt-light-gray);
}
