$desktop-l: 1920;
$desktop: 1280;
$desktop-s: 1024;

$tablet: 768;

$mobile: 320;

@mixin desktop-l {
	@media (max-width: #{$desktop-l}px) {
		@content;
	}
}
@mixin desktop-l-above {
    @media (min-width: #{$desktop-l}px) {
        @content;
    }
}

@mixin desktop {
	@media (max-width: #{$desktop}px) {
		@content;
	}
}
@mixin desktop-above {
    @media (min-width: #{$desktop}px) {
        @content;
    }
}

@mixin desktop-s {
	@media (max-width: #{$desktop-s}px) {
		@content;
	}
}
@mixin desktop-s-above {
    @media (min-width: #{$desktop-s}px) {
        @content;
    }
}

@mixin tablet {
	@media (max-width: #{$tablet}px) {
		@content;
	}
}
@mixin tablet-above {
    @media (min-width: #{$tablet}px) {
        @content;
    }
}

@mixin tablet-mobile {
	@media (max-width: 700px) {
        @content;
    }
}

@mixin tablet-mobile-average {
	@media (max-width: 650px) {
        @content;
    }
}

@mixin tablet-mobile-average-above {
	@media (min-width: 650px) {
        @content;
    }
}

@mixin mobile-tablet {
	@media (max-width: 500px) {
        @content;
    }
}

@mixin mobile {
	@media (max-width: #{$mobile}px) {
		@content;
	}
}
@mixin mobile-above {
    @media (min-width: #{$mobile}px) {
        @content;
    }
}

@mixin hover {
	@media (hover: hover) {
		&:hover {
			@content;
		}
	}

	@media (hover: none) {
		&:active {
			@content;
		}
	}
}
