@import "./media";

@mixin red-gradient-background {
	background: linear-gradient(
		90deg,
		#ff6058 0%,
		#ff6058 33.3%,
		#ff6058 61.21%,
		rgba(255, 96, 88, 0.72) 95.45%
	);
}

@mixin red-alt-gradient-background {
	background: linear-gradient(
		90deg,
		#ff6058 0%,
		#ff6058 34.88%,
		#ff6058 64.14%,
		rgba(255, 96, 88, 0.72) 100%
	);
}

@mixin gray-gradient-background {
	background: linear-gradient(
		90deg,
		rgba(154, 154, 154, 0.72) 0%,
		rgba(27, 27, 27, 0.5) 33.3%,
		rgba(27, 27, 27, 0.5) 61.21%,
		rgba(154, 154, 154, 0.72) 95.45%
	);
}

@mixin adaptive-background {
	@include desktop-l-above {
		background: url("/img/background/bg_1920.png") repeat-y center center / contain;
	}

	@include desktop-l {
		background: url("/img/background/bg_1920.png") repeat-y center center / contain;
	}

	@include desktop {
		background: url("/img/background/bg_1280.png") repeat-y center center / contain;
	}

	@include desktop-s {
		background: url("/img/background/bg_1024.png") repeat-y center center / contain;
	}

	@include tablet {
		background: url("/img/background/bg_768.png") repeat-y center center / contain;
	}

	@include mobile {
		background: url("/img/background/bg_320.png") repeat-y center center / contain;
	}
}

@mixin visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin adaptive-scales(
	$desktop-l-scale,
	$desktop-scale,
	$desktop-s-scale,
	$tablet-scale,
	$mobile-scale
) {
	@include desktop-l {
		height: clamp(#{$desktop-scale}px, #{calc($desktop-l-scale * 100 / 1920)}dvh, #{$desktop-l-scale}px);
	}

	@include desktop {
		height: clamp(#{$desktop-s-scale}px, #{calc($desktop-scale * 100 / 1280)}dvh, #{$desktop-scale}px);
	}

	@include desktop-s {
		height: clamp(#{$tablet-scale}px, #{calc($desktop-s-scale * 100 / 1024)}dvh, #{$desktop-s-scale}px);
	}

	@include tablet {
		height: clamp(#{$mobile-scale}px, #{calc($tablet-scale * 100 / 768)}dvh, #{$tablet-scale}px);
	}
}